.footer{
  background-color: #005695;
  height: 120px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  .redes{
    display: flex;
    align-items: center;
    img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}